<header>
    <div class="top_bar">
        <div class="container">
            <% if (user) { %>  
            <h5 class="user_info"><span class="me-2">Hi</span><%= user.name %></h5>
            <% } %> 
            <a href="/">
                <h1 class="logo">
                    Activity<i class="fa-solid fa-trophy mx-3"></i>Gather
                </h1>
            </a>
            <div class="auth_btns">
                <!-- <a href="/register" class="register_btn all_btns"></a> -->
                <% if (!user) { %>  
                <a href="/login" class="login_btn btn btn-danger ms-3">登入/註冊</a>
                <% } %> 
                <!-- <button type="button" class="btn btn-primary">Primary</button> -->
                <% if (user) { %>  
                <a href="/membercenter" class="btn btn-primary ms-3"><i class="fa-solid fa-user me-2"></i>會員中心</a>
                <a href="/logout" class="login_btn btn btn-success ms-3"><i class="fa-solid fa-right-from-bracket me-2"></i>登出</a>
                <% } %> 
            </div>
        </div>
    </div>
    <div class="mid_bar">
        <div class="container">
            <div class="nav_bar">
                <a href="/" class="">所有活動</a>
                <% if (user) { %>  
                    <a href="/add-activity" class="">建立活動</a>
                    <a href="/my-activity" class="">我的活動</a>
                <% } %> 
                <!-- <a href="/activity-classify" class="">活動分類</a> -->
            </div>
            <div class="search_bar">
                <i class="fa-solid fa-magnifying-glass me-2"></i>
                <div class="search_wrap">
                    <input
                    type="text"
                    class="form-control me-2"
                    name="keyword"
                    id="search_input"
                    aria-describedby="emailHelp"
                    />
                    <button class="btn btn-secondary search_btn">搜尋</button>
                </div>
            </div>
        </div>
    </div>
</header>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script>
    async function searchKeyword(keyword) {
        location.href = `/search?keyword=${keyword}`
    }
    $('.search_btn').click(()=>{
        const keyword = $('#search_input').val()
        if (keyword === '') return
        searchKeyword(keyword)
    })
    $('#search_input').keydown((e)=>{
        const keyword = $('#search_input').val()
        if (e.keyCode == 13 && keyword !== '') {
            searchKeyword(keyword)
        }
    })
</script>