<header>
    <div class="top_bar">
        <div class="container">
            <h1></h1>
            <a href="/">
                <h1 class="logo">
                    Activity<i class="fa-solid fa-trophy mx-3"></i>Gather
                </h1>
            </a>
            <div class="auth_btns">
                <a href="/login" class="login_btn all_btns">登入</a>
            </div>
        </div>
    </div>
    <div class="mid_bar">
        <div class="container">
            <div class="nav_bar">
                <a href="/add-game" class="">所有活動</a>
                <a href="/add-game" class="">建立活動</a>
                <a href="/add-game" class="">我的活動</a>
                <a href="/add-game" class="">活動分類</a>
            </div>
            <div class="search_bar">
                <i class="fa-solid fa-magnifying-glass me-2"></i>
                <form action="">
                    <input
                    type="text"
                    class="form-control"
                    id="search_input"
                    aria-describedby="emailHelp"
                    />
                </form>
            </div>
        </div>
    </div>
</header>