<%- include('includes/head.ejs') %>
  <body>
    <%- include('includes/header.ejs') %>
      <main>
        <div class="container">
          <h1>活動分類</h1>
          <div class="row">
            <% for (let i=1;i<2;i++) { %>
              <div class="col-lg-3 col-4 my-3">
                <div class="card" style="width:100%;cursor:pointer;" onclick="location.href = '/login'">
                  <img src="/img/volley.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h2 class="card-title text-center">排球</h5>
                  </div>
                </div>
              </div>
              <% } %>
              <div class="col-lg-3 col-4 my-3">
                <div class="card" style="width:100%;cursor:pointer;" onclick="location.href = '/login'">
                  <img src="/img/fishing.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h2 class="card-title text-center">釣魚</h5>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </main>
      <%- include('includes/footer.ejs') %>
  </body>
</html>