<%- include('includes/head.ejs') %>
  <body>
    <%- include('includes/header.ejs') %>
      <main>
        <div class="container">
          <div class="row">
            <% for (let i=1;i<10;i++) { %>
              <div class="col-4 my-3">
                <div class="card" style="width:18rem;height:380px;cursor:pointer;" onclick="location.href = '/login'">
                  <img src="/img/voll.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <p class="card-text limit_four">Some quick exampleexampleexample text to build on the card title and make up the bulk of the
                      card's content!.</p>
                    <!-- <a href="/login" class="btn btn-primary">Go somewhere</a> -->
                  </div>
                </div>
              </div>
              <% } %>
          </div>
        </div>
      </main>
      <%- include('includes/footer.ejs') %>
  </body>
</html>