* {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans TC", sans-serif;
}

.limit_two {
  display: -webkit-box !important;
  -webkit-line-clamp: 2 !important;
  -webkit-box-orient: vertical !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.limit_three {
  display: -webkit-box !important;
  -webkit-line-clamp: 3 !important;
  -webkit-box-orient: vertical !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.limit_four {
  display: -webkit-box !important;
  -webkit-line-clamp: 4 !important;
  -webkit-box-orient: vertical !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.limit_five {
  display: -webkit-box !important;
  -webkit-line-clamp: 5 !important;
  -webkit-box-orient: vertical !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

a {
  text-decoration: none !important;
}

.card {
  transition: all 0.2s linear;
  position: relative;
}
.card .btns {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.card .card-img-top {
  height: 45%;
}
.card:hover {
  transform: scale(1.01);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

main .container {
  padding: 3rem 0;
}

.all_btns {
  color: white;
  width: auto;
  padding: 0.5rem 0.8rem;
  border-radius: 5px;
  transition: all 0.2s linear;
  border: none;
}

.login_btn {
  background-color: #f32918;
}
.login_btn:hover {
  color: white;
  background-color: #bb1f11;
}

.register_btn {
  background-color: #0D6EFD;
}
.register_btn:hover {
  color: white;
  background-color: #0b49a5;
}

header {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 900;
}
header .top_bar {
  background-color: #192131;
}
header .top_bar .container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90px;
  padding: 1rem 0;
  position: relative;
}
header .top_bar .container .logo {
  margin: 0;
  font-family: "Lobster", cursive;
  color: white;
  transition: all 0.2s linear;
}
header .top_bar .container .logo i {
  color: #f32918;
}
header .top_bar .container .logo:hover {
  transform: scale(1.05);
}
header .top_bar .container .user_info {
  color: white;
  position: absolute;
  left: 0;
  margin: 0;
}
header .top_bar .container .auth_btns {
  position: absolute;
  right: 0;
}
header .mid_bar {
  background-color: rgb(207, 207, 207);
}
header .mid_bar .container {
  width: 100%;
  height: 90px;
  color: black;
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-between;
}
header .mid_bar .container .nav_bar {
  display: flex;
  width: 50%;
  align-items: center;
}
header .mid_bar .container .nav_bar a {
  font-weight: 600;
  color: black;
  margin-right: 1.5rem;
  padding: 1rem;
  transition: all 0.1s linear;
}
header .mid_bar .container .nav_bar a:hover {
  color: #f32918;
  transform: translateY(-3px);
}
header .mid_bar .container .search_bar {
  display: flex;
  align-items: center;
  width: 40%;
}
header .mid_bar .container .search_bar i {
  font-size: 1.5rem;
}
header .mid_bar .container .search_bar .search_wrap {
  display: flex;
  align-items: center;
  width: 100%;
}
header .mid_bar .container .search_bar .search_wrap button {
  width: 100px;
}

html,
body {
  height: 100%;
}

main {
  min-height: 100%;
  padding-top: 180px;
  padding-bottom: 50px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #192131;
  position: relative;
  top: -50px;
  height: 50px;
  width: 100%;
  padding: 1rem;
}
footer .footer_desc {
  color: #fff;
  text-align: center;
}

.login_register_wrap {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 600px;
}
.login_register_wrap .btn_wrap {
  display: flex;
  justify-content: center;
}
.login_register_wrap .goRegister {
  display: flex;
  justify-content: center;
}

.detail_wrap {
  display: flex;
  width: 70%;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  word-wrap: break-word;
}
.detail_wrap h5 {
  margin-bottom: 1rem;
}
.detail_wrap .signUpList {
  display: flex;
  flex-wrap: wrap;
}
.detail_wrap .signUpList span {
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 5px;
}

.discussion_board_wrap {
  display: flex;
  flex-direction: column;
}
.discussion_board_wrap .form {
  display: flex;
}
.discussion_board_wrap .form input {
  width: 100%;
}
.discussion_board_wrap .form .btn {
  width: 75px;
}
.discussion_board_wrap .discussion_board {
  min-height: 200px;
  padding: 1.5rem;
  border: 1px solid #192131;
  color: #192131;
}
.discussion_board_wrap .discussion_board .msg {
  border-bottom: 1px solid gray;
}
.discussion_board_wrap .discussion_board .msg:last-child {
  border-bottom: 0;
  margin-bottom: 0 !important;
  padding-bottom: 0;
}
.discussion_board_wrap .discussion_board .msg:nth-child(even) {
  background-color: #f7f7f7;
}
.discussion_board_wrap .discussion_board .msg .name {
  margin-bottom: 0.5rem;
}
.discussion_board_wrap .discussion_board p {
  position: relative;
  margin: 0;
}
.discussion_board_wrap .discussion_board p .bott {
  display: flex;
  justify-content: space-between;
}
.discussion_board_wrap .discussion_board p .time {
  position: absolute;
  bottom: 2px;
  right: 0;
}

.google_login_wrap {
  border-top: 1px solid black;
}
.google_login_wrap .google_login {
  width: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-color: #4285F4;
  color: white;
  border-radius: 5px;
}
.google_login_wrap .google_login img {
  width: 20px;
  height: 20px;
}/*# sourceMappingURL=style.css.map */